
body{

background-color:#dadada;

height:100%;
color : #f6f7f8;
font-family: "neosansregular";
font-size:12px;
}
select {
font-family:'neosansregular' !important ;
}
a{
	
	color:#25a8e0;
}
input {
	height:14px;
	font-family: "neosansregular";
	}
input[type="checkbox"] {
    display:none;
} 
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 10px 0 0;
    vertical-align:middle;
    background:url('images/checkbox.png') left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url('images/checkbox.png') -19px top no-repeat;
}
.html{

background-color:#dadada;

min-height:500px;
height:100%;
}

.header{
height:105px;
background-color:#242424;

}
.logo{

background-image:url("logo_text.png");
width:200px;
height:63px;
margin-top:20px;

}
.page_title{
font-family: "neosansregularlight";
margin-top:45px;
margin-left:15px;
font-size:23px;

}
.page_title:before
{
content: "\2014\A0\A0\A0";/*&mdash;*/
}
.user{
font-family: "neosansregularlight";
margin-top:50px;

font-size:12px;	
	}
.user a{
	margin-left:5px;
	margin-right:5px;
	}
.content{
	min-height:600px;
	
	height:100%;
	
	}
.step_number{
	text-align:right;
	color:#c6c6c6;
	font-size:23px;
	font-family: "neosansregularlight";
	}
.step_name{
	color:#242424;
	font-size:23px;
	font-family: "neosansregularlight";
	}
.operation_step{
	margin-top:73px;
	
	}
select.datasource option {
background-repeat:no-repeat;
background-position:center left;
padding-left:30px;
height:75px;
}
.blue{
	background-color:#25a8e0;
	color:#f6f7f8;
	
	}
form.form_label label{
		font-family: "neosansregularlight";
		color:#555555;
		font-size:15px;
	}

.content_data
{
	margin-top:65px;
	}
.footer{
	color:#999999;
	font-family: "neosansregularlight";
	
	}
.hint{
	background-image:url("images/hint.png");
	width:18px;
	height:18px;
	background-repeat:no-repeat;
	background-position:center; 
	}
select {
    -moz-appearance: none;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
}
.navigation{
margin-top:50px;
}
.navigation >button{
margin-right:35px;
width:100px;
}

textarea {
    resize: none;
}
table{
font-family:'neotechlight' !important;
}

/* table tbody tr:nth-child(odd) 
{
	background-color: #ffffff;
} */
table tbody>tr:nth-of-type(odd) 
{
	background-color: #ffffff;
}
table tbody>tr:nth-of-type(even) 
{
	background-color: #f3f3f3;
}

table thead,table tfoot{
background-color:#26a9e0 ;
text-transform:uppercase;
color:#ffffff;
}
table table thead{
z-index:100;
}
table tbody{
color:#000000;
}


table thead th:first-child{
  border-radius:7px 00px 0 0px;
}

table thead th:last-child{
  border-radius:0 7px 00px 0;
}
table tfoot th:first-child{
  border-radius:00px 00px 0px 7px;
}

table tfoot th:last-child{
  border-radius:0 00px 7px 0;
}

.time{
width:100px;
font-size:85%;
}